# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Environments
.env

# Database
instance/
*.sqlite3
*.db

# Flask and OS
.DS_Store
*.log
